<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Изменить данные пользователя</title>
</head>
<body>
<div>
<h1>Пользователь</h1>
<form th:method="PATCH" th:action="@{/admin/{id}(id=${user.getId()})}" th:object="${user}">
<div class="mb-3">
<label for="username" class="form-label">Username: </label>
<input class="form-control" type="text" th:field="*{username}" id="username">
</div>
<div class="mb-3">
<label for="firstName" class="form-label">Имя: </label>
<input class="form-control" type="text" th:field="*{firstName}" id="firstName">
</div>
<div class="mb-3">
<label for="lastName" class="form-label">Фамилия: </label>
<input class="form-control" type="text" th:field="*{lastName}" id="lastName">
</div>
<div class="mb-3">
<label for="email" class="form-label">Электронная почта: </label>
<input class="form-control" type="text" th:field="*{email}" id="email">
</div>
<div class="mb-3">
<label for="password" class="form-label">Пароль: </label>
<input class="form-control" type="password" th:field="*{password}" id="password">
</div>
<div class="mb-3">
<label for="role" class="form-label">Права доступа: </label>
<input class="form-control" type="text" th:field="*{role}" id="role">
</div>
<input type="Submit" class="btn btn-primary" value="Сохранить">
</form>
</div>
</body>
</html>